*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.form{
    margin: 0 auto;
       display: flex;
    align-items: center;
    flex-direction: column;
    width: 450px;
    background-color: aliceblue;
    gap: 30px;
   border: 1px solid #000;
}

.form  input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(126, 168, 168, 0.76);
    width: 80%;
   border: 1px solid #000;

}

.form button{
    background-color: rgba(59, 114, 114, 0.808);;
    padding: 10px;
    border-radius: 20px ;
    border: 1px solid #000;
}
